<nav id="sidebar" class="sidebar-wrapper">
    <AuthorizeView>
        <Authorized>
            <SideBarAuthorized />
        </Authorized>
        <NotAuthorized>
            <SideBarUnAuthorized />
        </NotAuthorized>
    </AuthorizeView>
</nav>
