<div class=" sidebar-item sidebar-menu">
    <ul>
        <li class="header-menu">
            <span>Access</span>
        </li>
        <li>
            <a href="/login">
                <i class="fas fa-sign-in-alt"></i>Login
            </a>           
        </li>
    </ul>
</div>

@code {

}
