@using PanacheSoftware.Core.Domain.API.Language
@model LangQueryList

<li>
    <a href="~/">
        <i class="fa fa-tachometer-alt"></i>
        <span class="menu-text">@Html.GetTitle(Model, 10104)</span>
        @*<span class="badge badge-pill badge-success">New</span>*@
    </a>
</li>