<li class="header-menu">
    <span>Other</span>
</li>
<li>
    <a href="#">
        <i class="fa fa-book"></i>
        <span class="menu-text">Documentation</span>
        <span class="badge badge-pill badge-primary">Beta</span>
    </a>
</li>
<li>
    <a href="#">
        <i class="fa fa-calendar"></i>
        <span class="menu-text">Calendar</span>
    </a>
</li>