@page
@model IndexModel
@{
    ViewData["Title"] = "Identity";
    Layout = "_LoginLayout";
}

    <div class="container">
        <div class="row d-flex justify-content-center">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>

        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <!-- Material form login -->
                <div class="card">
                    <h5 class="card-header info-color white-text text-center py-4">
                        <strong>Panache Software Identity</strong>
                    </h5>

                    <!--Card content-->
                    <div class="card-body px-lg-5 pt-0">
                        <br />
                        <div class="d-flex justify-content-around">
                            <div class="form-check">
                                Click <a href="https://localhost:44380/">here</a> to login application.
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

