table.google-visualization-orgchart-table {
    border-collapse: separate;
}

#chart_div {
    overflow-x: scroll;
}

#chart_div svg text {
    font-family: 'Arial' !important;
    font-weight: normal !important;
}