<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/sidebar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/fontawesome/all.css">
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/sidebar/sidebar-main.css">
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/sidebar/sidebar-themes.css">
    
    <!-- Panache Specific-->
    <link rel="stylesheet" href="~/_content/PanacheSoftware.UI.Core/css/panache/pl-breadcrumb.css">
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="page-wrapper default-theme sidebar-bg bg1 toggled border-radius-on">
        @await Component.InvokeAsync("SideBar")
        <!-- page-content  -->
        <main class="page-content">
            @RenderBody()
        </main>
        <!-- page-content" -->
    </div>
    <!-- page-wrapper -->

    <script src="~/_content/PanacheSoftware.UI.Core/js/jquery.js"></script>
    <script src="~/_content/PanacheSoftware.UI.Core/js/popper.min.js"></script>
    <script src="~/_content/PanacheSoftware.UI.Core/js/bootstrap.js"></script>
    <script src="~/_content/PanacheSoftware.UI.Core/js/sidebar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/_content/PanacheSoftware.UI.Core/js/sidebar/sidebar-main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>