@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@*<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>*@

<div class="page-wrapper default-theme sidebar-bg bg1 toggled border-radius-on">
    @*@await Component.InvokeAsync("SideBar")*@
    <SideBar />
    <!-- page-content  -->
    <main class="page-content">
        @Body
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/jquery.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/popper.min.js");
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/bootstrap.js");
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/sidebar/jquery.mCustomScrollbar.concat.min.js");
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/sidebar/sidebar-main.js");

            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/datatables/jquery.dataTables.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/datatables/dataTables.bootstrap4.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/datatables/responsive.bootstrap4.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/datatables/dataTables.responsive.min.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/panache/pl-datatable.js");

            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/datepicker/bootstrap-datepicker.js");
            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/panache/pl-forms.js");

            //await JSRuntime.InvokeAsync<IJSObjectReference>("import", "/js/orgchart/jquery.orgchart.min.js");
        }
    }
}
