<div class=" sidebar-item sidebar-menu">
    <ul>
        @await Component.InvokeAsync("SideBarGeneral")
        @await Component.InvokeAsync("SideBarAdmin")
        @*@await Component.InvokeAsync("SideBarOther")*@
    </ul>
</div>